<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="/" class="d-flex align-items-center me-auto header-icon">
      <img src="allianz.png" alt="" width="100" height="100">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a [routerLink]="'/'" [fragment]="'home'" class="active">Home</a></li>
        <li><a [routerLink]="'/'" [fragment]="'about'">About</a></li>
        <li><a [routerLink]="'/'" [fragment]="'services'">Services</a></li>
        <li><a [routerLink]="'/'" [fragment]="'product'">Product</a></li>
        <li><a [routerLink]="'/'" [fragment]="'contact'">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <button class="cta-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Quotation
    </button>
  </div>
</header>
<a href="https:/wa.link/t8ifvy" target="_blank" class="whatsapp-icon">
  <img src="picture/whatsapp.png" alt="WhatsApp" />
</a>
