section {
  padding-top: 50px;
}
.brochure-links a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}
.brochure-links a:hover {
  color: #0056b3;
  text-decoration: underline;
}
