.profile-pic-small {
  width: 50%;
  max-width: 200px;
  height: auto;
}
p{
  text-align: justify;
}
.position-relative img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 1rem;
}
