<section id="about" class="about section">

  <div class="container">
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>About</p>
    </div>
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="d-flex justify-content-center align-items-center">
          <img src="picture/profile-pic.jpg" class="img-fluid rounded-circle mb-4 profile-pic-small" alt="">
        </div>
        <p>Hi! I'm Mursyid, a passionate final-year Computer Science student at the College of Computing, Informatics, and Mathematics at UiTM Cawangan Melaka Kampus Jasin. With a deep interest in software development and web technologies, I specialize in building web applications, leveraging frameworks like Laravel, Vue.js, and Bootstrap. My academic journey has been enriched by hands-on experience in both web development and creative design.</p>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p>Currently, I'm interning as a programmer at Altosoft Sdn Bhd, where I work on developing websites using Laravel, Vue.js, and WinterCMS. During my internship, I’ve gained practical knowledge in debugging, developing solutions for clients, and continuously improving the user experience.</p>
          <p>As a lifelong learner, I’m always looking for new technologies and frameworks to enhance my skill set. I enjoy taking on new challenges, particularly in areas like web development, system design, and problem-solving.</p>
          <p>I'm always excited to learn, grow, and make a positive impact in the tech world.</p>

          <div class="position-relative mt-4">
            <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clients section light-background mt-5" data-aos="fade-up">
    <div class="row">
      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/laravel.png" class="img-fluid" alt="Laravel">
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/vuejs.png" class="img-fluid" alt="VueJs">
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/bootstrap.png" class="img-fluid" alt="Bootstrap">
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/html.png" class="img-fluid" alt="HTML">
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/php.png" class="img-fluid" alt="PHP">
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="picture/github.png" class="img-fluid" alt="Github">
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-2 client-logo">
        <img src="picture/mysql.png" class="img-fluid" alt="MySQL">
      </div>

      <div class="col-xl-2 client-logo">
        <img src="picture/tailwind.png" class="img-fluid" alt="Tailwind">
      </div>

      <div class="col-xl-2 client-logo">
        <img src="picture/css.png" class="img-fluid" alt="CSS">
      </div>
    </div>
  </div>

</section>

