<section id="home" class="home section dark-background">
  <img src="/picture/home-background.jpg" alt="" class="background">
  <div class="container d-flex flex-column align-items-center">
    <div class="position-relative">
      <img src="/picture/title.png" alt="" class="img-fluid title">
    </div>
    <p style="text-align: center">
      Allianz offers comprehensive health coverage for individuals and families. Whether you're seeking routine checkups, emergency services, or specialized treatments, we provide peace of mind with affordable plans tailored to your needs. Get the medical care you deserve and live a healthier life today!
    </p>
    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </div>
</section>
