<section id="home" class="home section dark-background">
  <img src="/picture/background.jpg" alt="" data-aos="fade-in">
  <div class="container d-flex flex-column align-items-center">
    <h2 data-aos="fade-up" data-aos-delay="100">PLAN. LAUNCH. GROW.</h2>
    <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi consequatur quaerat suscipit ut facilis, cupiditate iste officia voluptatem accusamus quibusdam quas aut libero sit dolores doloremque explicabo rem eligendi architecto.</p>
    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </div>
</section>
